@import 'variables';
 h3 {
   background-color: #add8e6;
   box-sizing: border-box;
   height: 50px;
   margin: 0;
   padding: 15px;
   text-align: center;
 }

.contact-list {
  overflow-y: auto;
  height: 200px;
}

@media (min-width: $large-screen) {
  .contact-list {
    height: calc(100vh - #{$header-height + 50px});
  }

  .contact-container {
    width: 521px;
    border-right: 5px dashed grey;
  }

}
